<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-label>Populaire</ion-label>
      <ion-icon class="icon" name="flame-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="top">
      <ion-label>Top</ion-label>
      <ion-icon class="icon" name="star-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="actuellement">
      <ion-label>Actuellement</ion-label>
      <ion-icon class="icon" name="calendar-clear-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
