<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ film.title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

 <div class="container">
  <img class="affiche" [src]="'https://image.tmdb.org/t/p/w500/' + film.backdrop_path"/>
  <img class="poster" [src]="'https://image.tmdb.org/t/p/w500/' + film.poster_path"/>
 
 <div class="genre" >
  <ion-button *ngFor="let genr of genre" size="small">{{ genr.name }}</ion-button>
 </div>

 <div class="note">
  <p>{{ film.release_date.split("",4) }}</p>
            <span><svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
              <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
            </svg>{{ film.vote_average }}/10</span>
 </div>

 <div class="containerActor">
    <div class="actor" *ngFor="let acteur of acteurs" [state]="acteur" routerLink="/actor">
        <img *ngIf="acteur.profile_path" [src]="'https://image.tmdb.org/t/p/w500/' + acteur.profile_path " alt="">
        <img *ngIf="!acteur.profile_path" src="https://raw.githubusercontent.com/ionic-team/ionic-docs/551cb638c600b0cfac6fcbf9075baa9f63917814/static/demos/api/avatar/avatar.svg" alt="">
        <h2>{{ acteur.name.split(" ", 1) + '...' }}</h2>
        <p>{{ acteur.character }}</p>
    </div>
</div>

</div>
     
    

</ion-content>
